<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1><%= product.title %></h1>
            <hr>
            <div class="product-description">
                <img class="product-description__image" src="<%= product.imageUrl %>" alt="">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
        </main>
        <%- include('../includes/end.ejs') %>